@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
body{
    background-color: #EAE6E6;
}

/* CONFIGURAÇÕES DO HEADER, MENU */

.logo-menu{
    width: 75px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

ul{
    display: flex;
}

li{
    list-style:none;
    margin-left: 5vw;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

header{

    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
    margin-top: 2vh;
    
}

/* CONFIGURAÇÕES DO MAIN */

#main-title{

    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

}

#main-text{

    font-weight: 400;
    font-size: 70px;
    line-height: 88px;


}

#sub-text{

    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;

}

.logo-side{
    display: flex;
    align-items: center;

}
.logo-side img{

    width: 280px;

}

.logo-side img:hover{

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

main{
    display: flex;
    margin: 9vw;
    margin: 5vw;

}

.text-side{
    margin: 2vw;
}

/* CONFIGURAÇÕES DO FOOTER */

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: black;
    color: aliceblue;
    height: 3vh;
    align-items: center;
    justify-content: center;
}

footer p{

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

}

/* RESPONSIVIDADE */

@media (max-width: 768px){

    main {

        margin-top: 15vh;

    }

    #main-title{
        font-size: 20px;
    }
    #main-text{

        font-size: 50px;
        line-height: 1;
        margin-bottom: 2vw;
    }

    #sub-text{

        font-size: 15px;
        line-height: 1.5;

    }
    .logo-side img{

        width: 200px;
    }
}

@media (max-width: 425px){

header{

    display: flex;
    align-items: center;
    margin-top: 6vh;
    flex-direction: column;

}

.logo-menu{

    margin-bottom: 2vh;

}

.logo-side img{

    display: none;

}

main {

    margin-top: 7vh;

}
}